/* global */
* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

html, body {
   height: 100%;
}

main{
    /* Scroll horizontally as needed */
    overflow-x: auto;
    /* Center contents */
    text-align: center;
    height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 5vh 0vh 0vh 0vh;
}
  
footer,
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
}
  
footer,
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: #ad6d2f;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), #333);
  text-decoration: overline underline;
}
  
nav div p {
  font-size: small;
  font-style: italic;
  float: left;
  color: white;
  padding: 20vh 3vh 0vh 3vh;
}

.nav_left {
  float: left;
}

@media screen and (max-width: 360px) {
  nav div p {
    padding: 5vh 3vh 0vh 3vh;
  }
}
  
/* pic */
.welcome-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #333),
    url("https://images.unsplash.com/photo-1587080413959-06b859fb107d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29mZmVlJTIwY3VwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  background-position: center;
  background-attachment: fixed;
}
  
.input-group{
  border: solid 1px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: monospace;
  margin-top: 15px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .input-group {
    padding: 10px 20px; /* Decrease the padding on smaller screens */
    font-size: 14px; /* Decrease the font size on smaller screens */
  }
}

.btn {
  background-color:#4B371C;
  border: none;
  color:wheat;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: monospace;
  cursor: pointer;
  border-radius: 12px;
}
  
.btn:hover {
  background-color: wheat;
  color:#4B371C;
}

.underline-link {
  text-decoration: underline;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/*change appearance */
.mode-btn {
  border: none;
  padding: 14px 16px;
  background-color:transparent;
  color: yellow;
  cursor: pointer;
  float: left;
}

.mode-btn p {
  font-size: 50px;
  background-color: transparent;
}

/*  Two different classes for implementing light and dark modes in a web page's styling. */
.light-mode {
  color: #333;
  background-color: white;
}

.dark-mode {
  color: #675D50;
  background-color: #333;
}

.dark-mode a {
  color: #4caf50;
}
