/*eliza page style*/
/*image reference: Source:wallpaperaccess.com*/
.welcome-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #333),
    url("https://wallpaperaccess.com/full/3525090.jpg");
    background-size: cover;
    background-position: top;
}

.chat-header-eliza {
    width: 800px;
    height: 50px;
    border-radius: 12px 12px 0px 0px;
    margin: auto;
    background-color: #A9907E;
    text-align: center;
    font-size: 25px;
    align-items: center;
    line-height: 50px;
}

/*change color for left and right message*/
.left {
    background-color:  #ABC4AA;
}

.right {
    background-color: lightblue;
}

.chat-button-container{
    background-color: #A9907E;
}

/*page container div into three part*/
.page-container {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    gap: 10px;
    height:100%;
}
  
.left-side,
  .right-side {
    background-color: transparent;
}
  
.center-part {
    background-color: transparent;
}

/*style the left-side and right side image*/
.round-image {
    border-radius: 45%;
    width: 200px; 
    height: auto; 
}

/*media query*/
@media screen and (max-width: 414px) {
    .chat-header-eliza {
        width: 100%;
        font-size: 20px;
    }

    .chat-button-container{
        width: 100%;
        height: 80px;
        font-size: 16px;
    }

    .chat-window {
        width: 100%;
        height: 500px;
    }

    .chat-box {
        margin-top:12px;
        padding:8px;
        font-size: 14px;
    }

    .right-side img{
        display:none;
    }
    
    .left-side img{
        display:none;
    }
    
    /*image reference: Source: gstatic.com*/
    main {
        height: 100vh;
        width: auto;
        background-image: linear-gradient(to top,rgba(0, 0.5, 0, 0), lightgrey),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnsidiYp1CmO0W5JCBGm5Qw-03Z4Rtqy0QMQ&usqp=CAU");
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
      }
}
/*meida query*/
@media screen and (max-width: 391px) {
    .chat-header-eliza {
        width: 100%;
        height: 50px;
        border-radius: 12px 12px 0px 0px;
        font-size: 16px;
    }

    .chat-button-container{
        width: 100%;
        height: 60px;
        font-size: 16px;
    }

    .chat-window {
        width: 100%;
        height: 300px;
    }

    .chat-box {
        margin-top:12px;
        padding:8px;
        font-size: 14px;
    }

    .chat-button {
        padding:8px;
        font-size: 14px;
        margin-bottom:8px;
    }

    .right-side img{
        display:none;
    }
    
    .left-side img{
        display:none;
    }

    main {
        height: 100vh;
        width: auto;
        background-image: linear-gradient(to top,rgba(0, 0.5, 0, 0), lightgrey),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnsidiYp1CmO0W5JCBGm5Qw-03Z4Rtqy0QMQ&usqp=CAU");
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
      }
}

/*meida query*/
@media screen and (max-width: 768px) {
    .page-container {
      grid-template-columns: 1fr;
    }
}
