/*account page table style*/
table {
  margin: 0 auto;
  width: 100%; /* Change width to 100% */
  max-width: 900px; /* Set a maximum width for the table */
}

th:nth-child(1),
td:nth-child(1) {
  background-color: #A9907E;
  color: white;
  text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
  background-color: white;
  text-align: left;
}

td {
  font-size: 20px;
  margin: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 3px 5px 6px 5px;
}

td:hover {
  border-top: 3.5px solid #A9907E;
  border-bottom: 3.5px solid #A9907E;
  padding-top: 2px;
  padding-bottom: 2px;
}

tr:hover td {
  color: #333;
  background-color: wheat;
}

.table-input{
  width: 100%; /* Set the input width to 100% */
  max-width: 600px; /* Set a maximum width for the input */
  font-size: 20px;
  margin: 0;
  border: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 3px 5px 6px 5px;
  text-align: center;
}

/* Media queries */
@media (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  table {
    width: 90%;
    max-width: none;
  }

  .table-input {
    width: 90%;
    max-width: none;
  }
}

/*quote container*/
.daily-quote-container {
    margin: 1.5em;
    padding: 1em;
    border: 1px solid #967259;
    color:#967259;
    border-radius: 5px;
  }
  
.daily-quote-container i.ion-quote {
    font-size: 2em;
    margin-right: 0.5em;
    vertical-align: middle;
    color: burlywood;
  }

#quoteButton, #likequoteButton  {
    background-color: #967259;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 12px;
}

#quoteButton:hover, #likequoteButton:hover {
    color: #3a3636c5;
    background-color: burlywood;
  }
  
#quote {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
  }

.quote-comment {
    margin-top: 1rem;
    font-size: 8px;
    font-style: italic;
  }

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; /* Adjust this value as needed */
}
  
.btn {
  margin-left: 10px; /* Adjust this value as needed */
}