{% extends 'base.html' %} {% block content %}
<h2>Add A Stock</h2>
<form method="post">
  <label for="ticker">Stock Ticker <em>(required)</em>: </label>
  <input type="text" name="ticker" id="ticker" />
  <br />
  <label for="numberOfShares">Number Of Shares <em>(required)</em>: </label>
  <input type="text" name="numberOfShares" id="numberOfShares" required />
  <br />
  <label for="price">Price <em>(required)</em>: </label>
  <input type="text" name="price" id="price" required placeholder="100" />
  <br />
  <input type="submit" value="submit" />
</form>
{% endblock %}
