{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <h1>LOGIN</h1>
    <div>
        <input autocomplete="off" autofocus class="input-group" name="username" placeholder="Username" type="text">
    </div>
    <div>
        <input class="input-group" name="password" placeholder="Password" type="password">
    </div>
    <div>
        <a href="/register" class="underline-link">New User?</a>
    </div>
    <button class="lo-button" type="submit">Log In</button>
</form>
{% endblock %}