{% extends "layout.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_account.css') }}">
{% endblock %}

{% block main %}
 <!-- quote section -->
 <div class="daily-quote-container">
    <p id="quote">
      <span><i class="ion-quote"></i></span> &nbsp;Loading a random quote
    </p>
    <p id="author"></p>
    <br >
    <hr >
    <button
      id="quoteButton"
      onclick="loadRandomQuote()"
    >
      New Quote
    </button>

    <p class="quote-comment">
      ** This code includes a button element with an onclick event
      listener that calls the loadRandomQuote function when clicked.
      <br >The loadRandomQuote function sends a GET request to the
      "https://api.quotable.io/random" API endpoint to retrieve a random
      quote. Once the response is received, the function parses the JSON
      data and extracts the quote content and author information. Then, it
      dynamically generates HTML code to display the quote content and
      author information within the appropriate elements in the webpage
      using the innerHTML property.
    </p>
  </div>
    <h1>Account details</h1>
    <h2>Personalise your chat page</h2>
    <form>
        <table>
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>
                        <input class="table-input" type="text" name="username" value="{{ current_user.username }}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>
                        <input class="table-input" type="date" name="dob" value="YYYY-MM-DD" readonly>
                    </td>
                <tr>
                    <td>Favorite Quote</td>
                    <td>
                        <input class="table-input" type="text" name="favorite-quote" value="Quote" placeholder="Have no idea? Press the New Quote button!!!" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <button class="btn" id="edit-btn">Edit</button>
    <button  class="btn" id="save-btn">Save</button>
{% endblock %}