{% extends "layout.html" %} {% block styling %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style_account.css') }}"
/>
{% endblock %} {% block main %}
<!-- quote section -->
<div class="daily-quote-container">
  <p id="quote">
    <span><i class="ion-quote"></i></span> &nbsp;Loading a random quote
  </p>
  <p id="author"></p>
  <br />
  <hr />
  <button id="quoteButton" onclick="loadRandomQuote()">New Quote</button>
  <button id="likequoteButton" onclick="likeQuote()">Like</button>

  <p class="quote-comment">
    ** This code includes a button element with an onclick event listener that
    calls the loadRandomQuote function when clicked.
    <br />The loadRandomQuote function sends a GET request to the
    "https://api.quotable.io/random" API endpoint to retrieve a random quote.
    Once the response is received, the function parses the JSON data and
    extracts the quote content and author information. Then, it dynamically
    generates HTML code to display the quote content and author information
    within the appropriate elements in the webpage using the innerHTML property.
  </p>
</div>
<h1 id="type-effect">Account details</h1>
<!-- HTML code for displaying the image if the current month matches a specific month -->
{% if current_datetime.month == current_user.date_of_birth.month %}
<h2>Your special month! The best wishes come from the BrewChat Team!</h2>
<!--image reference Souce: wixmp.com-->
<img
  src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/73133939-6919-42de-b192-218e88190c7a/de86vp2-81d85e79-51fe-424e-8517-8b9d08c9cc12.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzczMTMzOTM5LTY5MTktNDJkZS1iMTkyLTIxOGU4ODE5MGM3YVwvZGU4NnZwMi04MWQ4NWU3OS01MWZlLTQyNGUtODUxNy04YjlkMDhjOWNjMTIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.B9j8hgNvRDLTOD0Hnl3sq7Ul-KPptJ8cUwac6a94beY"
  alt="Birthday card"
/>
{% endif %}
<form action="/account" method="post">
  <table>
    <tbody>
      <tr>
        <td>Username</td>
        <td>
          <input
            class="table-input"
            type="text"
            name="username"
            value="{{ current_user.username }}"
            readonly
          />
        </td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td>
          {% if current_user.date_of_birth %}
          <input
            id="dob-input"
            class="table-input"
            type="date"
            name="dob"
            value="{{ current_user.date_of_birth }}"
            readonly
          />
          {% else %}
          <input
            class="table-input"
            type="date"
            name="dob"
            placeholder="YYYY-MM-DD"
          />
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Favorite Quote</td>
        <td>
          {% if current_user.quote %}
          <textarea
            id="myquote"
            class="table-input"
            name="favorite_quote"
            readonly
          >
{{ current_user.quote }}</textarea
          >
          {% else %}
          <textarea
            id="myquote"
            class="table-input"
            name="favorite_quote"
            placeholder="Have no idea? Press the New Quote button!!!"
            readonly
          >
Quote</textarea
          >
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn save-btn" id="save-btn" onclick="Save()" type="submit">
    Save
  </button>
</form>
<br />
<button class="btn" id="edit-btn">Edit</button>
{% endblock %} {% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}
