{% extends "layout.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_account.css') }}">
{% endblock %}

{% block main %}
 <!-- quote section -->
 <div class="daily-quote-container">
    <p id="quote">
      <span><i class="ion-quote"></i></span> &nbsp;Loading a random quote
    </p>
    <p id="author"></p>
    <br >
    <hr >
    <button
      id="quoteButton"
      onclick="loadRandomQuote()"
    >
      New Quote
    </button>
    <button
    id="likequoteButton"
    onclick="likeQuote()"
    >
    Like
    </button>

    <p class="quote-comment">
      ** This code includes a button element with an onclick event
      listener that calls the loadRandomQuote function when clicked.
      <br >The loadRandomQuote function sends a GET request to the
      "https://api.quotable.io/random" API endpoint to retrieve a random
      quote. Once the response is received, the function parses the JSON
      data and extracts the quote content and author information. Then, it
      dynamically generates HTML code to display the quote content and
      author information within the appropriate elements in the webpage
      using the innerHTML property.
    </p>
  </div>
    <h1>Account details</h1>
    <h2>Personalise your chat page</h2>
    <form action="/account" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>
                        <input class="table-input" type="text" name="username" value="{{ current_user.username }}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>
                      {% if current_user.date_of_birth %}
                          <input class="table-input" type="date" name="dob" value="{{ current_user.date_of_birth }}" readonly>
                      {% else %}
                          <input class="table-input" type="date" name="dob" placeholder="YYYY-MM-DD">
                      {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Favorite Quote</td>
                    <td>
                      {% if current_user.quote %}
                          <input id="myquote" class="table-input" type="text" name="favorite_quote" value="{{ current_user.quote }}" readonly>
                      {% else %}
                          <input id="myquote" class="table-input" type="text" name="favorite_quote" value="Quote" placeholder="Have no idea? Press the New Quote button!!!" readonly>
                      {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn" id="save-btn" type="submit">Save</button>
    </form>
    <button class="btn" id="edit-btn">Edit</button>

    <!-- HTML code for displaying the image if the current month matches a specific month -->
    {% if current_datetime.month == current_user.date_of_birth.month %}
    <img src="https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/rainbow_cake_20402_16x9.jpg" alt="Birthday Cake">
    {% endif %}

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}