{% extends "layout.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_chat.css') }}">
{% endblock %}

{% block main %}
    <h1 id="type-effect">Chat with a coffee lover</h2>
    <!-- Button to get a random user -->
    <div class ="chat-header">
      <button id="randomUserButton" class="btn">Friend</button>
      <p id="randomUserName"></p>
      <button type="button" class="btn" id="leaveRoomButton">Leave</button>
    </div>

    <!-- Chat Area -->
      <textarea cols="70" rows="10" id="chat" placeholder="No messages yet. Start one..."></textarea><br />
    <div class="chat-button-container">
      <form id="text-form">
        <input type="text" class="chat-box" id="text" placeholder="Enter your message here" />
        <button type="submit" class="chat-button">SEND</button>
      </form><br />
    </div>

    
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/chatuser.js') }}"></script>
{% endblock %}
