{% extends "layout.html" %} {% block styling %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style_about_brewchat.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %} {% block main %}
<h1 class="welcome_text">Welcome to BrewChat</h1>
<h2 id="type-effect">Today, I want to chat with...</h2>
<div class="button-container">
  <div class="button_eliza">
    <a class="button-text" href="/eliza/">ELIZA</a>
  </div>

  <div class="button_chat">
    <a class="button-text" href="/chat/">Meet a Coffee lover</a>
  </div>
</div>
<h1 class="welcome_text">About BrewChat</h1>
<!-- Story section -->
<div class="home-grid-container gray-background">
  <div class="home-grid-child">
    <h2>Birth of BrewChat</h2>
  </div>
  <div class="home-grid-child left-bar text-left">
    <p>
      Once upon a time, a group of friends created BrewChat, an online platform
      inspired by coffee shops. They aimed to recreate the joy of serendipitous
      encounters and foster connections in a virtual space. BrewChat became a
      lively hub where users could escape their routines, expand their horizons,
      and engage in lighthearted conversations.
    </p>
  </div>
</div>
<!-- Function section -->
<div class="home-grid-container">
  <div class="home-grid-child right-bar text-left">
    <li>
      BrewChat featured a unique daily pairing system that connected users with
      <strong>random conversation</strong> partners, simulating the
      serendipitous encounters of a coffee shop setting. This allowed for
      engaging conversations, shared stories, and the exchange of diverse
      perspectives.
    </li>
    <li>
      To provide companionship and support, BrewChat introduced Eliza, a
      <strong>24/7 chatbot</strong>. Eliza was designed to engage in meaningful
      dialogue and offer insightful responses, serving as a reliable confidant
      for users seeking conversation or assistance, regardless of the time of
      day.
    </li>
  </div>
  <div class="home-grid-child">
    <h2>Unique features of BrewChat</h2>
  </div>
</div>
<!-- Experience section -->
<div class="home-grid-container gray-background">
  <div class="home-grid-child">
    <h2>Unique experience of BrewChat</h2>
  </div>
  <div class="home-grid-child left-bar text-left">
    <li>
      <strong
        >"BrewChat: Where Coffee Culture and Serendipitous Connections
        Converge"</strong
      ><br />
      Discover a world where coffee enthusiasts from all walks of life gather to
      share their favorite blends, swap stories, and build lasting friendships.
      Experience the endless possibilities of serendipitous encounters, where
      unexpected surprises and genuine connections await.
    </li>
    <li>
      <strong>"BrewChat: Embrace the Power of Virtual Connection"</strong><br />
      Step into BrewChat, a digital haven that transcends borders and brings
      people together through a shared love for coffee. Explore diverse
      perspectives, stumble upon life-changing ideas, and find comfort in the
      presence of kindred spirits. Join the vibrant community where human
      connections thrive in the digital age.
    </li>
  </div>
</div>
<!-- Contact section -->
<div class="home-grid-container">
  <div class="home-grid-child right-bar">
    <p>
      We value your feedback! If you have any questions, suggestions, or need
      assistance, please don't hesitate to contact our support team. They are
      here to help.
    </p>
    <p>
      <a href="mailto:huixin.yang.tw@gmail.com" target="_blank"
        ><i class="fa fa-envelope" style="font-size: 50px"></i
      ></a>
    </p>
  </div>
  <div class="home-grid-child">
    <h2>Contact us - Support and Feedback</h2>
  </div>
</div>
{% endblock %}
