{% extends "layout.html" %}

{% block main %}
    <form action="/register" method="post">
        <h1>REGISTER</h1>
        <div>
            <input autocomplete="off" autofocus class="input-group" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input class="input-group" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input class="input-group" name="confirmation" placeholder="Password Again" type="password">
        </div>
        <div>
            <a href="/login" class="underline-link">Already Have Account?</a>
        </div>
        <button class="btn" type="submit">Register</button>
    </form>
{% endblock %}